
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.dark body {
  background-color: #0C111D;
  background-image: radial-gradient(circle at top, #161B29, #0C111D);
}
